#addBookBtn {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.7s ease-in-out;
    padding: 0;
}

#addBookBtn:hover {
    transform: rotate(180deg);
    align-self: center;
}

#addBook {
    display: flex;
    justify-content: center;
}

#addBtn {
    height: 50px;
    width: 50px;
}

#content {
    display: flex;
    gap:20px;
    flex-wrap: wrap;
    padding: 10px;
}

#bookDiv {
    width: 200px;
    height: 350px;
    background-color: bisque;

}

#deleteBtn {
    width: 50px;
    height: 50px;
}
.form-popup {
    display: none;
    position: fixed;
    left: 40%;
    top: 35%;
    border: solid 2px black;
    padding: 5px 10px;
    border-radius: 20px;
}

#bookTitle, #bookAuthor, #bookPages, #bookStatus, #scBtn {
    display: flex;
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

body {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    margin: 0;
}

header {
    font-size: 90px;
    font-weight: bold;
    background-color: #68de7c;
    height: fit-content;
}

footer {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #00a32a;
    height: 2.5rem;
}

.blur {
    filter: blur(35px);
}