#addBookBtn {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.7s ease-in-out;
}

#addBookBtn:hover {
    transform: rotate(180deg);
}

#addBtn {
    height: 50px;
    width: 50px;
}

.form-popup {
    display: none;
    position: fixed;
    left: 40%;
    top: 35%;
    border: solid 2px black;
    padding: 5px 10px;
    border-radius: 5px;
}

#bookTitle, #bookAuthor, #bookPages, #bookStatus, #scBtn {
    display: flex;
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

body {
    display: grid;
    grid-template-rows: min-content 80%;
    margin: 0;
}

header {
    font-size: 90px;
    font-weight: bold;
    background-color: #68de7c;
    height: fit-content;
}

footer {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #00a32a;
}

.blur {
    filter: blur(20px);
}