#addBookBtn {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.7s ease-in-out;
}

#addBookBtn:hover {
    transform: rotate(180deg);
}

#addBtn {
    height: 50px;
    width: 50px;
}

.form-popup {
    display: none;
}

body {
    display: grid;
    grid-template-rows: min-content 80%;
    margin: 0;
}

header {
    font-size: 90px;
    font-weight: bold;
    background-color: #68de7c;
    height: fit-content;
}

footer {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #00a32a;
}
